<div class="addCustomClass">
  <ul class="t1">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ol class="t1">
    <li></li>
    <li></li>
    <li></li>
  </ol>
  <button {{action "addCustomClass" target="view"}} class="addCustomClass">addCustomClass</button>
</div>

<div class="formUpdating">
  <form action="?">
    <button class="old-class"></button>
    <input type="button" value="b1"/>
    <input type="radio" name="n1" value="v1" />
    <input type="radio" name="n1" value="v2" />
    <input type="radio" name="n1" value="v3" />

    <input type="checkbox" name="n1" value="v1" class="chbx" />
    <input type="checkbox" name="n1" value="v2" class="chbx" />
    <input type="checkbox" name="n1" value="v3" class="chbx" />

    <button {{action "formUpdating" target="view"}} class="formUpdating">formUpdating</button>
  </form>
</div>

<div class="tableProcessing">
  <table>
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </tbody>
    <tfoot>
      <tr></tr>
      <tr></tr>
    </tfoot>
  </table>
  <button {{action "tableProcessing" target="view"}} class="tableProcessing">tableProcessing</button>
</div>