<div class="container">
  <h2>Разделы</h2>
  {{#each model as |chapter index|}}
    {{#link-to 'tasks' (query-params chapter=chapter.id) class="badge"}}{{chapter.name}}{{/link-to}}
  {{/each}}
  {{outlet}}
</div>