<div class="container">
<h2>Разделы</h2>
  {{#each model as |chapter index|}}
    {{#link-to 'tasks' (query-params chapter=chapter.id) class="badge" activeClass="active progress-bar-info"}}{{chapter.name}}{{/link-to}}
  {{/each}}
  <p></p>
  {{outlet}}
</div>